# Node.js dependencies
node_modules/
npm-debug.log*

# Logs
logs/
*.log
npm-debug.log*
debug.log

# Optional npm cache directory
.npm/

# dotenv environment variable files
.env

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Thumbnails
Thumbs.db